{% extends 'base.html' %}

{% block content %}

<main>

    <section id="index" class="light-bg">
        <div class="container inner-top-xs">
            <div class="row">
                <div class="col-12 show custom-container mb-5">
                    <form action="" method="post">
                        {% csrf_token%}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Cambiar Contrase&ntilde;a</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

</main>

{% endblock %}