{% extends 'base.html' %}

{% block content %}

<main>
    {% load static %}
    
    <section id="register" class="light-bg">
        <div class="container inner-top-sm d-flex justify-content-center">
            
            <div class="col-lg-6 inner-right inner-bottom-md">

                {% if page == 'login' %}
                
                <section id="login-form">
                    <h2>Ingrese a su cuenta</h2>
                    <form id="registerform" class="forms" action="" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" name="username" class="form-control" placeholder="Nombre de usuario" required="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="password" name="password" class="form-control" placeholder="Contrase&ntilde;a" required="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a href="{% url 'register' %}" style="font-size: 1rem;">No tiene cuenta? Creela ahora de manera gratuita!</a>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-submit">Ingresar</button>
                        
                    </form>
                    
                    {% if messages %}
                    <div id="response" class="mt-3">
                        {% for message in messages %}
                        <div class="alert alert-warning" role="alert">
                            {{ message }}
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    
                </section>

                {% else %}
                
                <section id="register-form">
                    <h2>Reg&iacute;strese</h2>
                    <small>Todos los campos son requeridos</small>
                    <form id="registerform" class="forms" action="" method="post" required="">
                        {% csrf_token %}

                        {% for field in registration_form %}

                        <div class="row">
                            <div class="col-md-12 custom-registration-form-label">
                                {{ field.label_tag }}
                                {{ field }}
                                {% for error in field.errors %}
                                <small>{{ error }}</small><br>
                                {% endfor %}
                            </div>
                        </div>

                        {% endfor %}
                        
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <a href="{% url 'login' %}" style="font-size: 1rem;">Ya tiene cuenta? Ingrese con sus datos</a>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-submit">Reg&iacute;strese</button>
                    </form>
                    
                    {% if messages %}
                    <div id="response" class="mt-3">
                        {% for message in messages %}
                        <div class="alert alert-warning" role="alert">
                            {{ message }}
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    
                </section>

                {% endif %}
                
            </div>
            
        </div>
    </section>
    
</main>

{% endblock %}