/*===================================================================================*/
/*	CUSTOM CSS STYLES
/*===================================================================================*/

/* Insert your own styles in here! */
.navbar-nav > li > a {
    bottom: 0 !important;
}
.navbar-nav > li > a.custom-top-link {
    border: 1px solid rgba(255,255,255,0) !important;
    border-radius: 3px !important;
    height: 90px;
    vertical-align: middle;
    display: table-cell;
}
.navbar-nav > li > a.custom-top-link:hover {
    border-color: #E6E9ED !important;
}
.newsletter .btn-submit, .search .btn-submit-custom {
    position: inherit !important;
}
.icon-right-open-custom:before {
    content: "" !important;
}
.navbar-form.search .btn-submit-custom {
    display: block !important;
    width: 100% !important;
}
.centered-link-div {
    text-align: center !important;
}
.custom-ddmenu-nolink {
    margin-left: 20px !important;
    line-height: 100px !important;
}
/* .custom-ddmenu-username {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
} */
.navbar-collapse.collapse {
    padding-bottom: 0 !important;
}
.navbar-collapse {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.custom-registration-form-label > input {
    margin-bottom: 0 !important;
}
.custom-registration-form-label > small {
    font-size: 70% !important;
    color: red !important;
}
.custom-error-title {
    font-size: 8rem !important;
}
.forms label {
    width: auto !important;
}
.custom-container {
    background-color: #FFFFFF !important;
    border: 1px #e3e3e3 solid !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}
.custom-avatar-input {
    border: 0 !important;
}
.no-fucking-border-on-card {
    border: 0 !important;
}
