{% extends 'base.html' %}

{% block content %}

<main>
    <section id="contacts" class="light-bg">
        <div class="container inner-top-sm inner-bottom d-flex justify-content-center">
            <div class="col-lg-6 inner-right inner-bottom-md text-center">
                <h1>Contactanos</h1>
                <p>Si tienes alguna duda o sugerencia, puedes contactarnos a través de nuestro formulario de contacto.</p>
                <div class="spacer-single"></div>
                <input class="form-control" type="text" placeholder="Nombre">
                <input class="form-control" type="text" placeholder="Correo">
                <textarea class="form-control" rows="5" placeholder="Mensaje..."></textarea>
                <button class="btn btn-primary btn-lg">Enviar</button>
            </div>
        </div>
    </section>

</main>


{% endblock %}