{% extends 'base.html' %}

{% block content %}

<main>

    <section id="index" class="light-bg">
        <div class="container inner-top-sm inner-bottom d-flex justify-content-center">
            <div class="col-lg-12">
                <div class="text-center">
                    <h1>Proximamente</h1>
                    <p>Este sitio es la entrega intermedia del proyecto final. Fecha de entrega: 08 de Junio de 2022</p>
                </div>
                <hr>
                <dl>
                    <dt>Features a probar:</dt>
                    <dd>Acerca de Nosotros - Muestra una bio falsa desde la DB. Dicha información se almacena en la base de datos automáticamente al inicializar el proyecto.</dd>
                    <dd>Contáctenos - Permite llenar un formulario de contáctenos y la info se almacena en la DB</dd>
                    <dd>Editar Perfil - Permite a los usuarios editar su propio perfil.</dd>
                    <dd>Configuración - Permite a los super usuarios editar la información de "Acerca de Nosotros" sin necesidad de entrar al sistema de administración propio de Django.</dd>
                    <dd>Sistema de búsqueda - Permite buscar a un usuario en la DB. Palabras sugeridas para realizar la búsqueda:</dd>
                    <ul>
                        <li>Cesar</li>
                        <li>Aracena</li>
                        <li>Jose</li>
                        <li>Esteban</li>
                        <li>Orozco</li>
                        <li>Juan</li>
                        <li>Silvana</li>
                        <li>Carmen</li>
                        <li>Rolando</li>
                        <li>Emmanuel</li>
                    </ul>
                    
                </dl>
            </div>
        </div>
    </section>

</main>

{% endblock %}