{% extends 'base.html' %}

{% block content %}

<main>

    <section id="index" class="light-bg">
        <div class="container inner-top-xs inner-bottom">
            <div class="row">
                <div class="col-12 inner-right inner-bottom-md show">
                    <h2>Configuraci&oacute;n Interna</h2>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#acercadenosotros" aria-expanded="false" aria-controls="acercadenosotros">Acerca de Nosotros</button>
                    <div class="row">
                        <div class="collapse col-12{% if userdata.username %} show{% endif %}" id="acercadenosotros">
                            <p style="margin-bottom: 0 !important;">Seleccione uno de los perfiles para modificarlo:</p>
                            {% for u in users %}
                                {% if u.is_staff == 1 %}
                                    <a class="btn btn-primary" href="?id={{ u.id }}" role="button">{{ u.username }}</a>
                                {% endif %}
                            {% endfor %}
                            {% if userdata.username %}
                            <div class="card card-body">
                                <form action="" method="post" enctype="multipart/form-data">
                                    {% csrf_token%}
                                    <input type="hidden" name="uid" value="{{ userdata.id }}">
                                    <tr>
                                        <th><label for="id_username">Username:</label></th>
                                        <td>
                                            <input type="text" name="username" value="{{ form.username.value }}" class="form-control" maxlength="100" required id="id_username" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><label for="id_first_name">First name:</label></th>
                                        <td>
                                            <input type="text" name="first_name" value="{{ form.first_name.value }}" class="form-control" maxlength="100" id="id_first_name">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><label for="id_last_name">Last name:</label></th>
                                        <td>
                                            <input type="text" name="last_name" value="{{ form.last_name.value }}" class="form-control" maxlength="100" id="id_last_name">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><label for="id_bio">Bio:</label></th>
                                        <td>
                                            <textarea name="bio" cols="5" rows="3" max_length="300" required id="id_bio">{{ form.bio.value }}</textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><label for="id_avatar">Avatar:</label></th>
                                        <td>
                                            <input type="file" name="avatar" class="form-control custom-avatar-input" accept=".jpg, .jpeg, .png" id="id_avatar">
                                        </td>
                                    </tr>
                                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                                </form>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>

</main>

{% endblock %}