{% extends 'errors.html' %}

{% block content %}

<main>

    <section id="401" class="light-bg">
        <div class="container inner-top-sm inner-bottom d-flex justify-content-center">
            <div class="col-lg-6 inner-right inner-bottom-md text-center">
                <h1 class="custom-error-title">401</h1>
                <p>
                    No tiene permisos para ver esta p&aacute;gina.<br>
                    <a href="{% url 'login' %}">Si no está logeado, inicie sesión.</a>.
                </p>
            </div>
        </div>
    </section>

</main>

{% endblock %}