<!DOCTYPE html>

<html lang="en">
	<head>
		<!-- Meta -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<meta name="description" content="">
		<meta name="author" content="">
		
		<title>CoderBlog</title>
		
		<!-- Core CSS -->
        {% load static %}
		<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
		
		<!-- AddOn/Plugin CSS -->
		<link href="{% static 'assets/css/navy.css' %}" rel="stylesheet" title="Color">
		<link href="{% static 'assets/css/owl.carousel.css' %}" rel="stylesheet">
		<link href="{% static 'assets/css/owl.transitions.css' %}" rel="stylesheet">
		<link href="{% static 'assets/css/animate.min.css' %}" rel="stylesheet">
		<link href="{% static 'assets/css/aos.css' %}" rel="stylesheet">
		
		<!-- Custom CSS -->
		<link href="{% static 'assets/css/custom.css' %}" rel="stylesheet">
		
		<!-- Fonts -->
		<link href="http://fonts.googleapis.com/css?family=Lato:400,900,300,700" rel="stylesheet">
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic" rel="stylesheet">
		
		<!-- Icons/Glyphs -->
		<link href="{% static 'assets/fonts/fontello.css' %}" rel="stylesheet">
		
		<!-- Favicon -->
		<!-- <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}"> -->
		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/images/favicon/apple-touch-icon.png' %}">
		<link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/images/favicon/favicon-32x32.png' %}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/favicon/favicon-16x16.png' %}">
		<link rel="manifest" href="{% static 'assets/images/favicon/site.webmanifest' %}">
		<link rel="mask-icon" href="{% static 'assets/images/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
	</head>
	
	<body>
		
		<!-- ============================================================= HEADER ============================================================= -->
		
		<header>
			<div class="navbar">

				<div class="navbar-header">
					<div class="container">
						<a class="navbar-brand" href="/"><img src="{% static 'assets/images/logo.png' %}" class="logo" alt=""></a>
						
						<!-- ============================================================= LOGO MOBILE : END ============================================================= -->
						
						<a class="navbar-toggler btn responsive-menu float-right" data-toggle="collapse" data-target=".navbar-collapse"><i class='icon-menu-1'></i></a>
					</div><!-- /.container -->
				</div><!-- /.navbar-header -->
				
				<div class="yamm">
					<div class="navbar-collapse collapse">
						<div class="container">
							
							<!-- ============================================================= LOGO ============================================================= -->
							
							<a class="navbar-brand" href="/"><img src="{% static 'assets/images/logo.png' %}" class="logo" alt=""></a>
							
							<!-- ============================================================= LOGO : END ============================================================= -->
							
							
							<!-- ============================================================= MAIN NAVIGATION ============================================================= -->
							
							<ul class="nav navbar-nav">
								
								<li class="">
									<a href="/" class="custom-top-link">Inicio</a>
								</li>
								
								<li class="">
									<a href="{% url 'about' %}" class="custom-top-link">Acerca de Nosotros</a>
								</li>
								
								<li class="">
									<a href="{% url 'contact' %}" class="custom-top-link">Cont&aacute;ctenos</a>
								</li>

								{% if request.user.is_authenticated %}

								<li class="dropdown searchbox">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{{ request.user.avatar.url }}" class="rounded-circle img-fluid" alt="" style="width: auto; height: 40px; margin: 10px 10px 10px 0;"> <span class="custom-ddmenu-username">
										{% if request.user.first_name %}
											{{ request.user.first_name }} {{ request.user.last_name }}
										{% else %}
											{{ request.user }}
										{% endif %}
									</span></a>

									<ul class="dropdown-menu">
										<li><a href="{% url 'edit_profile' %}">Editar Perfil</a></li>
										{% if request.user.is_superuser %}
										<li><a href="{% url 'config' %}">Configuraci&oacute;n</a></li>
										{% endif %}
										<li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
									</ul>
								</li>

								{% else %}

								<li class="">
									<a href="{% url 'login' %}" class="custom-top-link">Iniciar Sesion</a>
								</li>

								{% endif %}

								<li class="dropdown searchbox">
									<a href="#" class="dropdown-toggle custom-top-link" data-toggle="dropdown"><i class="icon-search"></i></a>
											  
									<div class="dropdown-menu dropdown-menu-right">
										<form class="navbar-form search" role="search" action='' method='POST'>
											{% csrf_token %}
											<input name="search" type="search" class="form-control" placeholder="Buscar un usuario">
											<button type="submit" class="btn btn-submit icon-right-open"></button>
										</form>
									</div><!-- /.dropdown-menu -->
								</li><!-- /.searchbox -->
								
							</ul><!-- /.nav -->
							
							<!-- ============================================================= MAIN NAVIGATION : END ============================================================= -->
							
						</div><!-- /.container -->
					</div><!-- /.navbar-collapse -->
				</div><!-- /.yamm -->
			</div><!-- /.navbar -->
		</header>
		
		<!-- ============================================================= HEADER : END ============================================================= -->
		
		
		<!-- ============================================================= MAIN ============================================================= -->
		
		{% block content %}

        {% endblock %}
		
		<!-- ============================================================= MAIN : END ============================================================= -->
		
		
		<!-- ============================================================= FOOTER ============================================================= -->
		
		<footer class="dark-bg">
		  
			<div class="footer-bottom">
				<div class="container inner clearfix">
					<p class="float-left">©2022 CoderBlog. Todos los derechos reservados.</p>
					<ul class="footer-menu float-right">
						<li><a href="index.html">Inicio</a></li>
						<li><a href="services.html">Acerca de Nosotros</a></li>
						<li><a href="contact.html">Cont&aacute;ctenos</a></li>
					</ul><!-- .footer-menu -->
				</div><!-- .container -->
			</div><!-- .footer-bottom -->
		</footer>
		
		<!-- ============================================================= FOOTER : END ============================================================= -->
		
		<!-- JavaScripts placed at the end of the document so the pages load faster -->
		<script src="{% static 'assets/js/jquery.min.js' %}"></script>
		<script src="{% static 'assets/js/jquery.easing.1.3.min.js' %}"></script>
		<script src="{% static 'assets/js/jquery.form.js' %}"></script>
		<script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
		<script src="{% static 'assets/js/popper.min.js' %}"></script>
		<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'assets/js/affix.js' %}"></script>
		<script src="{% static 'assets/js/aos.js' %}"></script>
		<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
		<script src="{% static 'assets/js/jquery.isotope.min.js' %}"></script>
		<script src="{% static 'assets/js/imagesloaded.pkgd.min.js' %}"></script>
		<script src="{% static 'assets/js/jquery.easytabs.min.js' %}"></script>
		<script src="{% static 'assets/js/viewport-units-buggyfill.js' %}"></script>
		<script src="{% static 'assets/js/selected-scroll.js' %}"></script>
		<script src="{% static 'assets/js/scripts.js' %}"></script>
		<script src="{% static 'assets/js/custom.js' %}"></script>
	</body>
</html>